page-login {
  .bottom-img {
    position: absolute;
    background-color: #ffffffde;
  }

  .btn {
    width: 45%;
    display: block;
    margin-top: 10%;
  }

  .btn-laest {
    position: absolute;
    background: #ffffff;
    bottom: 0px;
    min-height: 100px;
    width: 100%;
    height: 40%;
  }

  .my-class {
    margin: 16px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0px;
    padding: 0px !important;
    margin-left: 16px;
    border-color: #f579af !important;
    border: 2px solid;
    color: #f579af;
  }

  .new-class {
    margin: 16px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px;
    padding: 0px !important;
    margin-right: 16px;
    border-color: #f579af !important;
    border: 2px solid;
    color: #f579af;
  }

  .segment-md-primary .segment-button.activated,
  .segment-md-primary .segment-button.segment-activated {
    background: #f579af !important;
    color: white !important;
  }

  .segment-md .segment-button{
    height: 3.5rem;
    line-height: 3.2rem;
  }
  .signin-btn {
    display: block;
    margin: auto;
    margin-top: 30pt !important;
  }

  .row.icon {
    display: table;
  }
  .left-icon{
    font-size: 2.5rem;
  }
  .left-margin{
    margin-left: 25pt;
  }
  .eye-div{
    right: 30pt;
    margin-top: -26pt;
  }
  .icon-eye{
    font-size: 2.5rem;
  }
  .icon-div{
    position: absolute;
    z-index: 99999;
  }
  .social-div{
    margin-top: 20pt;
    .social-img{
      width: 30pt;
      height: 30pt;
      border-radius: 50%;
      box-shadow: 0 1px 1px 2px #dededed9;
    }
  }
}
