<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105167782462-njc338hpcl7cql0ievfct237l6g324fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105167782462-njc338hpcl7cql0ievfct237l6g324fe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105167782462-qc0nc5csske6r0oahn514nk16ho5j41n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATwKVKC6fQxibpBrCIl7a6WLwKFGP1DI4</string>
	<key>GCM_SENDER_ID</key>
	<string>105167782462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.curlcare</string>
	<key>PROJECT_ID</key>
	<string>curlcare</string>
	<key>STORAGE_BUCKET</key>
	<string>curlcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105167782462:ios:2894210b7a1d133991076f</string>
	<key>DATABASE_URL</key>
	<string>https://curlcare.firebaseio.com</string>
</dict>
</plist>