<ion-content padding>
  <div margin-left margin-right margin-bottom>
    <div class="row">
      <ion-title text-center>{{getMonth()}}</ion-title>
      <ion-icon (click)="share()" class="share-top-right" name="md-share"></ion-icon>
    </div>
  </div>
  <div *ngIf="isPurchased" margin-top margin-bottom>
    <ion-slides slidesPerView="7">
      <ion-slide *ngFor="let day of weekList">
        <div class="medium-text" [ngClass]="day.isSelected?'text-purple':''">{{day.name.substring(0,1)}}</div>
        <div margin-top style="padding-top: 3px" class="medium-text" [ngClass]="day.isSelected?'text-purple round':''">{{day.dayNum}}</div>
      </ion-slide>
    </ion-slides>
    <div margin-top text-center class="small-text text-grey">{{getTodayDate()}}</div>
  </div>

  <div padding-top margin>
    <div (click)="openPicker()">
      <ion-icon *ngIf="profileImgToShow == ''" class="profile-icon" name="md-person"></ion-icon>
      <img *ngIf="profileImgToShow !== ''" class="profile-img" [src]="profileImgToShow">
      <img class="edit-img" src="assets/img/edit.png">
    </div>

    <ion-item *ngIf="isPurchased" no-padding>
      <ion-label class="medium-text">Style</ion-label>
      <ion-select class="medium-text">
        <ion-option value="New">New</ion-option>
        <ion-option value="Continued">Continued</ion-option>
      </ion-select>
      <ion-icon item-right class="down" name="ios-arrow-down"></ion-icon>
    </ion-item>

    <ion-item *ngIf="isPurchased" no-padding margin-top>
      <ion-label class="medium-text">Wash Day *</ion-label>
      <ion-select class="medium-text" [(ngModel)]="washDay">
        <ion-option value="Yes">Yes</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
      <ion-icon item-right class="down" name="ios-arrow-down"></ion-icon>
    </ion-item>

    <ion-item no-padding margin-top>
      <ion-label class="medium-text">Today's Style</ion-label>
      <ion-select class="medium-text" [(ngModel)]="todayStyle">
        <ion-option value="latest">latest</ion-option>
        <ion-option value="Bantu Knots">Bantu Knots</ion-option>
        <ion-option value="Braids">Braids</ion-option>
        <ion-option value="BraidsExtentions">Braids (with extensions)</ion-option>
        <ion-option value="Braid-outs">Braid-outs</ion-option>
        <ion-option value="Cornrows">Cornrows</ion-option>
        <ion-option value="CornrowsExtentions">Cornrows (with extensions)</ion-option>
        <ion-option value="Curling Rods">Curling Rods</ion-option>
        <ion-option value="Finger Coils">Finger Coils</ion-option>
        <ion-option value="Protective Style">Protective Style</ion-option>
        <ion-option value="Roller Set">Roller Set</ion-option>
        <ion-option value="Twists">Twists</ion-option>
        <ion-option value="Twist-outs">Twist-outs</ion-option>
        <ion-option value="Wash and go">Wash and go</ion-option>
        <ion-option value="Other">Other</ion-option>
      </ion-select>
      <ion-icon item-right class="down" name="ios-arrow-down"></ion-icon>
    </ion-item>

    <ion-item no-padding margin-top>
      <ion-label class="medium-text">Today's Product *</ion-label>
      <ion-select class="medium-text" [(ngModel)]="todayProduct">
        <!--<ion-option *ngIf="todayProduct !==''">{{todayProduct}}</ion-option>-->
        <ion-option *ngFor="let product of productList" value="{{product.id}}">{{product.name}}</ion-option>
      </ion-select>
      <ion-icon item-right class="down" name="ios-arrow-down"></ion-icon>
    </ion-item>

    <ion-item *ngIf="isPurchased" no-padding no-lines no-margin>
      <div item-left class="medium-text">Love it?</div>
      <div item-right class="row">
        <span>
          <ion-item no-padding no-lines>
          <label item-left>Yes</label>
          <ion-checkbox class="set-margin" (click)="selectFeedback(true)" [(ngModel)]="yes"></ion-checkbox>
          </ion-item>
        </span>
        <span>
          <ion-item no-padding no-lines>
            <label item-left>No</label>
            <ion-checkbox class="set-margin" (click)="selectFeedback(false)" [(ngModel)]="!yes"></ion-checkbox>
          </ion-item>
        </span>
      </div>
    </ion-item>
    <div class="row" style="margin-top: 30pt">
      <div col-6 style="padding-left: 0;padding-right: 10px">
        <button class="text-pink small-text add-button" ion-button round full
                (click)="addMoreProducts()"><span class="biggest-text" style="margin: -4px 5px 0 5px">+</span>Add More Products</button>
      </div>
      <div col-6 style="padding-right: 0">
      <button class="text-pink small-text save-button" ion-button round full
              (click)="saveProduct()">Save</button>
      </div>
    </div>

    <div margin-top class="row medium-text">
      <div col-3></div>
      <div col-3 text-left>Oh, no!</div>
      <div col-3 text-center>Meh..</div>
      <div col-3 text-right>Yaaaas!</div>
    </div>
    <div *ngFor="let prop of propertyList">
      <div *ngIf="prop.isShown" margin-top text-center class="row small-text">
        <div col-2 text-left>{{prop.name}}</div>
        <div col-2 *ngFor="let item of prop.property">
          <ion-checkbox [(ngModel)]="item.isSelect" (click)="selectRating(item,prop.name)"></ion-checkbox>
        </div>
      </div>
    </div>

    <div margin-top margin-bottom class="row">
      <div col-5>
        <button [disabled]="!isPurchased" class="text-pink small-text add-button" ion-button round full
                (click)="addMore()"><span class="biggest-text" style="margin: -4px 5px 0 5px">+</span> Add More</button>
      </div>
      <div col-2></div>
      <div col-5>
        <button (click)="openNotes()" class="text-pink small-text add-button" ion-button round full>
          <span class="biggest-text" style="margin: -4px 5px 0 5px">+</span>Notes</button>
      </div>
    </div>

    <div>
      <textarea *ngIf="showTextarea" [(ngModel)]="notes" placeholder="Add Notes" rows="5" class="notes-textarea"></textarea>
    </div>

    <div margin padding class="row">
        <button class="text-pink small-text" ion-button round full
                (click)="save()">Save</button>
    </div>

  </div>
</ion-content>
