<ion-content>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button no-margin ion-button>
        <img class="header-img" src="assets/img/icon.png">
      </button>
    </ion-buttons>
    <ion-title text-center>Hey {{userData.first_name}}</ion-title>
    <ion-buttons end>
      <button (click)="share()" padding ion-button icon-only>
        <ion-icon class="share-top-right" name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div margin-top>
    <ion-icon *ngIf="profileImgToShow == ''" class="profile-icon" name="md-person"></ion-icon>
    <img *ngIf="profileImgToShow !== ''" class="profile-img" [src]="profileImgToShow">
    <img class="edit-img" src="assets/img/edit.png">
  </div>
  <div class="big-text" text-center>My Looks</div>
  <div *ngIf="isEmpty">
    <div class="empty" text-center>My Looks are empty</div>
  </div>
  <div *ngIf="!isEmpty" text-center class="row" margin-left margin-right>
    <span col-4 *ngFor="let item of myLooksList">
      <div (click)="share()" class="share-icon"><ion-icon class="share text-pink" name="md-share"></ion-icon></div>
      <img class="my-look" [src]="baseUrl+item.image">
    </span>
  </div>

  <div *ngIf="!isEmpty" text-center class="showmore-div"><button ion-button round (click)="showMore()">Show More</button></div>
</ion-content>
