<ion-content padding>
  <div>
    <ion-icon (click)="back()" name="ios-arrow-back-outline" class="back-arrow" style="color: black!important;padding: 0 15pt !important;"></ion-icon>
    <div text-center class="bold-font bigger-text">My Curl Queue</div>
  </div>
  <div *ngIf="isEmpty">
    <div class="empty" text-center>My Curl Queue is empty</div>
  </div>
  <div *ngIf="!isEmpty" margin-top padding class="row">
    <div *ngFor="let data of queueList" col-4 text-center>
      <img class="img-profile" [src]="data.image && data.image !==''?baseUrl+data.image:'assets/imgs/past-look1.png'">
      <div class="smaller-text text-grey">{{data.date?data.date:''}}</div>
      <div class="smaller-text text-grey">Style:{{data.todays_style?data.todays_style:''}}</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                              defaultIcon = "ios-star-outline"
                                              activeColor = "#F29529"
                                              defaultColor = "#f4f4f4"
                                              readonly="true"
                                              rating="{{data.rating && data.rating !==''?data.rating:1}}"
                                              fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <!--<div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look2.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look3.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>-->
  </div>

  <!--<div padding class="row">
    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look1.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look2.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look3.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
  </div>

  <div padding class="row">
    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look1.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look2.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look3.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
  </div>

  <div padding class="row">
    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look1.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look2.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>

    <div col-4 text-center>
      <img class="img-profile" src="assets/imgs/past-look3.png">
      <div class="smaller-text text-grey">Date:21-Aug-2020</div>
      <div class="smaller-text text-grey">Style:Curly Hair</div>
      <div class="row">
        <span class="rating-count smallest-text">5.0</span>
        <span style="margin-left: 3px"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
  </div>-->
</ion-content>
